<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Efficiency grade:</strong>
    <%= device.efficiency_grade %>
  </p>

  <p>
    <strong>Consumption:</strong>
    <%= device.consumption %>
  </p>

  <p>
    <strong>Activate:</strong>
    <%= device.activate %>
  </p>

  <p>
    <strong>Deactivate:</strong>
    <%= device.deactivate %>
  </p>

</div>
